<div class="main">
  <div class="container">
    <div *ngIf="showSignUp && !termsCondition" class="back">
      <a href="javascript:void(0)" (click)="backClick()"
        ><i class="icon-left-arrow-outline-2"></i>Basic Info.</a
      >
    </div>
    <div class="logo"><img src="assets/img/logo.svg" alt="" /></div>
    <form class="login-form" [formGroup]="stepOneForm">
      <div *ngIf="!showSignUp">
        <div>
          <label for="text">First Name</label>
          <input
            id="text"
            type="text"
            formControlName="fname"
            placeholder="Enter first name"
            name="text"
            [ngClass]="{ 'is-invalid': submittedOne && f['fname'].errors }"
          />
          <div
            *ngIf="submittedOne && f['fname'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['fname'].errors['required']">
              First name is required
            </div>
          </div>
        </div>

        <div class="login-password">
          <label for="name">Last Name</label>
          <input
            id="name"
            type="text"
            formControlName="lname"
            placeholder="Enter last name"
            name="name"
            [ngClass]="{ 'is-invalid': submittedOne && f['lname'].errors }"
          />
          <div
            *ngIf="submittedOne && f['lname'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['lname'].errors['required']">
              Last name is required
            </div>
          </div>
        </div>

        <div class="login-btn">
          <button type="button" (click)="nextClick()" class="primary-btn">
            Next
          </button>
        </div>
      </div>
    </form>

    <form
      class="login-form"
      *ngIf="showSignUp && !termsCondition"
      [formGroup]="stepTwoForm"
    >
      <div>
        <label for="text">Phone Number</label>
        <input
          id="text"
          pInputText
          pKeyFilter="num"
          formControlName="phone"
          placeholder="Enter phone number"
          name="text"
          maxlength="12"
          [ngClass]="{ 'is-invalid': submittedTwo && f1['phone'].errors }"
        />
        <div
          *ngIf="submittedTwo && f1['phone'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f1['phone'].errors['required']">
            First name is required
          </div>
        </div>
      </div>

      <div class="login-password">
        <label for="name">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Enter email"
          name="email"
          [ngClass]="{ 'is-invalid': submittedTwo && f1['email'].errors }"
        />
        <div
          *ngIf="submittedTwo && f1['email'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f1['email'].errors['required']">Email is required</div>
          <div *ngIf="f1['email'].errors['email']">Email is invalid</div>
        </div>
      </div>

      <div class="login-password">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          placeholder="Enter password"
          name="password"
          formControlName="password"
          [ngClass]="{ 'is-invalid': submittedTwo && f1['password'].errors }"
          required
        />
        <div
          *ngIf="submittedTwo && f1['password'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f1['password'].errors['required']">
            Password is required
          </div>
          <div *ngIf="f1['password'].errors['minlength']">
            Password must be at least 6 characters
          </div>
          <div *ngIf="f1['password'].errors['maxlength']">
            Username must not exceed 40 characters
          </div>
        </div>
      </div>

      <div class="login-btn">
        <button type="button" (click)="signUp()" class="primary-btn">
          Continue
        </button>
      </div>
    </form>

    <div class="create">
      <a href="javascript:void(0)" [routerLink]="['/auth/login']"
        >Already have an account, Login</a
      >
    </div>
    <div *ngIf="loading" class="loader">
      <lottie-player
        src="/assets/animations/loading.json"
        background="transparent"
        speed="1"
        style="width: 160px; height: 160px"
        loop
        autoplay
      ></lottie-player>
    </div>
  </div>
</div>
