a {
  text-decoration: none;
  color: #000;
}

.header {
  display: flex;
  padding: 0.2rem;
  justify-content: space-between;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  h1 {
    font-size: 1.5em;
    margin: 0.6em 0;
    display: inline-block;
    margin-right: 20px;
  }
  ul {
    display: flex;
    li {
      list-style-type: none;
      margin-right: 25px;
    }
  }
}

.navigation ul,
.navigation li {
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}

// search bar

.search-container {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}

.mglass {
  display: inline-block;
  pointer-events: none;
}

.search:focus {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  color: black;
}

.search {
  position: absolute;
  left: 49px;
  border-radius: 8px;
  margin-top: -6px;
  box-shadow: 0 0 0 0.1em #8c8e8c inset;
  outline: none;
  border: none;
  width: 0;
  height: 30px;
  z-index: 10;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}

.search:focus {
  width: 363px;
  padding: 0 16px 0 0;
}

.expandright {
  left: auto;
  right: 49px;
}

.expandright:focus {
  padding: 0 0 0 16px;
}
