<header class="header">
  <div class="logo">
    <h1><img src="assets/img/logo.svg" alt="" /></h1>
    <ul>
      <li><a href="javascript:void(0)">Men</a></li>
      <li><a href="javascript:void(0)">Women</a></li>
      <li><a href="javascript:void(0)">Kids</a></li>
    </ul>
  </div>
  <nav class="navigation">
    <ul class="nav">
      <li>
        <div class="search-container">
          <input
            class="search expandright"
            id="searchright"
            type="search"
            name="q"
            placeholder="Search"
            [(ngModel)]="searchTerm"
            (input)="onSearch()"
          />
          <label class="button searchbutton" for="searchright"
            ><i class="icon-magnifier-outline-1 mglass"></i
          ></label>
        </div>
      </li>
      <li>
        <a href="javascript:void(0)"
          ><i class="icon-shopping-bag-outline-1"></i
        ></a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <div
          class="top-circle"
          id="navbarDropdown"
          dropdownToggle
          role="button"
        >
          <i class="icon-account-outline-1"></i>
        </div>
        <div
          *dropdownMenu
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="navbarDropdown"
        >
          <a
            class="dropdown-item"
            *ngIf="!cookieValue"
            [routerLink]="['/auth/login']"
            >Login</a
          >
          <a
            href="javascript:void(0)"
            class="dropdown-item cursor-pointer"
            *ngIf="cookieValue"
            (click)="logOut()"
            >Logout</a
          >
        </div>
      </li>
    </ul>
  </nav>
</header>
