::ng-deep {
    .toast-container {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 5050;
    }

    .custom-toast {
        height: 2.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .toast--success {
        background-color: #6dd29b;
        color: #005722;
    }

    .toast--error {
        background-color: #ffafaf;
        color: #980813;
    }

    .toast--warning {
        background-color: #ffd358;
        color: #8b4f00;
    }

    .custom-toast-message {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .custom-toast-message span {
        padding: 0 8px;
    }
}

:host {
    padding: 0 1rem;
}

.btn--close-filters {
    pointer-events: all;
}

.custom-message {
    text-align: center;
    pointer-events: all;
}
