<div *ngIf="title" class="{{ options.titleClass }}" [attr.aria-label]="title">
  {{ title }}
</div>
<div *ngIf="message && options.enableHtml" class="{{ options.messageClass }}">
  <span
    class="custom-message"
    [innerHTML]="messageText"
    (click)="$event.stopPropagation()"
  ></span>
  <button
    class="btn btn--reset btn--close-filters"
    *ngIf="options.closeButton"
    (click)="remove()"
  ></button>
</div>
<div
  *ngIf="message && !options.enableHtml"
  class="{{ options.messageClass }}"
  [attr.aria-label]="message"
>
  <span>{{ messageText }}</span>
  <button
    class="btn btn--reset btn--close-filters"
    *ngIf="options.closeButton"
    (click)="remove()"
  ></button>
</div>
<div *ngIf="options.progressBar">
  <div class="toast-progress" [style.width.%]="width"></div>
</div>
