/* You can add global styles to this file, and also import other style files */
@import "styles/variables.scss";

body {
  margin: 0;
}

.primary-btn {
  background-color: $primaryColor;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}
