<div class="container">
  <div class="logo"><img src="assets/img/logo.svg" alt="" /></div>

  <form class="login-form" [formGroup]="forgotForm">
    <div class="login-password">
      <label for="name">Email</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="Enter email"
        name="email"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
      />
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors['required']">Email is required</div>
        <div *ngIf="f['email'].errors['email']">Email is invalid</div>
      </div>
    </div>

    <div class="login-btn">
      <button type="button" (click)="onSubmit()" class="primary-btn">
        Forget Pasword
      </button>
    </div>
  </form>
</div>
